:root{
  --primary-color:white;
  --secondary-color: #d2d0ff;
}
.purple-detail{
  color: var( --secondary-color);
}
/*body*/
.body{
    background-image: url(IMAGES/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 0;
    margin: 0;
}
/*welcome and desc*/
.Welcome{
  font-size: 2vh;
  color:white;
  display: grid;
  place-items: center;
  align-content:center;
  min-height:91vh;
}
#description{
  font-size: 2vh;
  font-weight: 400;
}

/*glide in from left animation*/
.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

/*noscript*/
noscript{
  display: flex;
  position: relative;
  color:white;
  font-size: 2vh;
  z-index: 10000;
  text-align: center;
  margin-top: 10px;
}

/*footer*/
.footer{
  text-align: center;
  max-width: 100vw;
  max-height: 10vh;
}


/* Social icons */
.sIlist {
  position: relative;
  color: transparent;
  opacity: 1;
  text-align: center;
  z-index: 5;  
  display: inline-block;
  margin-right: 1.5vw;
  margin-bottom: -10px;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.sIlist i {
  opacity: 1;
  animation: fade-in 3s forwards;
}

a {
  background-color: transparent;
  color: white;
}

.socialIcons {
  opacity: 1;
  color: #000; /* Replace with your desired base color */
  font-size: 1.5vw;
  padding-bottom: 95px; /* Adjust as needed */
  z-index: 1;
}

.fa-discord:hover,
.fa-instagram:hover,
.fa-spotify:hover,
.fa-github:hover,
.fa-codepen:hover {
  color:var(--secondary-color); /* Replace with your desired secondary color */
}


/*navigational links*/
.nav-container {
    background-color: rgb(48, 48, 48);
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .nav-container ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .nav-container ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
  }
  
  .links-container {
    color: white;
    font-size: 1vmax;
  }
  
  .links-container:hover {
    color: var(--secondary-color);
  }
  
  #active {
    color: var(--secondary-color);
  }
