:root{
  --primary-color:white;
  --secondary-color: #d2d0ff;
}
.purple-detail{
  color: var( --secondary-color);
}

.body{
    background-image: url(IMAGES/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
    font-family: "Montserrat";
}
.auto-type{
    color: white;
    font-family:'Montserrat';
    font-weight:800;
    font-size: 4vh;
}
.description1{
    color: white;
    font-family:'Montserrat';
    font-weight:400;
    text-align: center;
    font-size: 2vh;
}
/*glide in left animation*/
section{
    color:white;
    display: grid;
    place-items: center;
    align-content:center;
    min-height: 90vh;
}

.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

/*noscript*/
noscript{
  display: flex;
  position: relative;
  color:white;
  font-size: 2vh;
  z-index: 10000;
  text-align: center;
  margin-top: 10px;
}

.footer{
  text-align: center;
  max-width: 100vw;
  max-height: 10vh;
}


/*social icons*/
.sIlist{
  color: transparent;
  opacity: 1;
  text-align: center;
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
 
.sIlist i {
  opacity: 1;
  animation: fade-in 1s forwards;
}


a {
  background-color: transparent;
  color: white;
}

.socialIcons {
  opacity:0;
  color: var(--base-color);
  font-size: 3vh;
  opacity: 1;
  padding-bottom:100px;
  z-index: 1;
}


.sIlist {
  display: inline-block;
  margin-right: 3vw;
}


.fa-discord:hover{
  color: var(--secondary-color);
}

.fa-instagram:hover{
  color: var(--secondary-color);
}

.fa-spotify:hover{
  color: var(--secondary-color);
}

.fa-github:hover{
  color: var(--secondary-color);
}

.fa-codepen:hover{
  color: var(--secondary-color);
}





/*navigational links*/
.nav-container {
  background-color: rgb(48, 48, 48);
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: grid;

}

.nav-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-container ul li {
  display: inline-block;
  margin: 0 10px;
}

.nav-container ul li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
.links-container{
  color:white;
  font-size:2vh;
  margin-top: 1vh;
}
.links-container:hover{
  color:var(--secondary-color);
}

