:root{
    --primary-color:white;
    --secondary-color: #d2d0ff;
  }
  .purple-detail{
    color: var( --secondary-color);
  }

/*navigational links*/
.nav-container {
  background-color: rgb(48, 48, 48);
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: grid;
  align-items: center;
}

.nav-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-container ul li {
  display: inline-block;
  margin: 0 10px;
}

.nav-container ul li a {
  display: block;
  padding: 1vh 2vw;
  color: white;
  text-decoration: none;
}
.links-container{
  color:white;
  font-size:0.9rem;
}
.links-container:hover{
  color:var(--secondary-color);
}
#active {
  color:var(--secondary-color);
}

      
.body{
    background-image: url(/IMAGES/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
    font-family: "Montserrat";
    position: fixed;
    padding: 0;
    margin: 0;
}
.contactMe{
  padding-top: 30.5vh;
  color:white;
  font-size: 4.5vh;
  text-align: center;
  margin:0;

}
.formContainer{
  text-align: center;
}
.Forms{
  max-width: 35rem;
  margin: auto;
  overflow: hidden;
}


.hidden{
  opacity: 0;
  filter: blur(10px);
  transform: translateX(200%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(100%);
}

.input text{ 
  padding-top: 1vh;
  padding-bottom: 1vh; 
  border-radius: 10px;
}

input[type=text] {
  background-color: rgb(49, 49, 49);
  color: var(--secondary-color);
  position: relative;
  display: block;
  width: 36vw;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  border-radius: 10px;
  padding: 2vh 2vh;
  outline: none;
  opacity: 0.8;
}

button [type=submit] {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 10px;
  box-shadow:2px 2px 5px var(--secondary-color);
}

button [type=submit]:hover {
  color: black;
}
.submit{
  background-color:rgb(49, 49, 49) ;
}