:root{
    --primary-color:white;
    --secondary-color: #d2d0ff;
  }
  .purple-detail{
    color: var( --secondary-color);
  }

/*navigational links*/
.nav-container {
  background-color: rgb(48, 48, 48);
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: grid;
  align-items: center;
}

.nav-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-container ul li {
  display: inline-block;
  margin: 0 10px;
}

.nav-container ul li a {
  display: block;
  padding: 1vh 2vw;
  color: white;
  text-decoration: none;
}
.links-container{
  color:white;
  font-size:0.9rem;
}
.links-container:hover{
  color:var(--secondary-color);
}
#active {
  color:var(--secondary-color);
}

      
.body{
    background-image: url(/IMAGES/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
    font-family: "Montserrat";
    position: fixed;
    padding: 0;
    margin: 0;
}

.thankYou{
    position: fixed;
    top:40%;
    text-align: center;
    left:46%
}
.formSuccess{
    font-size: 2vh;
    font-weight: 400;
    position: fixed;
    top: 50%;
    left:41%
}

.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(100%);
    transition: all 2s;
  }
  
  .show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
  }