:root{
  --primary-color:white;
  --secondary-color: #d2d0ff;
  }
.purple-detail{
  color: var( --secondary-color);
}
  
.body{
    background-image: url(/IMAGES/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
    font-family: "Montserrat";
    font-weight: 400;
}
.nav-container {
  background-color: rgb(48, 48, 48);
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: grid;
  align-items: center;
}

.nav-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-container ul li {
  display: inline-block;
  margin: 0 10px;
}

.nav-container ul li a {
  display: block;
  padding: 1vh 2vw;
  color: white;
  text-decoration: none;
}
.links-container{
  color:white;
  font-size:0.9rem;
}
.links-container:hover{
  color:var(--secondary-color);
}
#active {
  color:var(--secondary-color);
}


.aboutMe{
  font-size: 2.2vh;
  color:white;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.About-Me{
  overflow: hidden;
}

.amHeader span{
  display: block;
  animation: reveal 2s;
  
}
.dpara{
  overflow: hidden;
  font-size: 2vh;
  font-weight: 400;
}
.dpara span{
  display: block;
  animation: reveal 2s;
}
@keyframes reveal {
  from {
    opacity: 0;
    transform: translate(0,100%); /*edit this line to change direction of text reveal*/
  }
  to {
    opacity: 1;
    transform: translate(0,0);
  }
}
